@import "_config";

body{
    background-color: WhiteSmoke;
    
    .container{
        padding: 10px;
        background: url("../images/header.jpg") no-repeat scroll 0 0 white;
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
        .box_shadow();
    }
    
    .header{
        padding: 60px 0 20px;
    }
    
    .middle_container{
        background-color: white;
    }
}

h1{
    font-family: @special-font-light;
    font-weight: normal;
    
    a,
    a:hover{
        text-decoration: none;
    }
}

h2{
    color: @secondary-color;
    border-top: 3px solid @secondary-color;
    padding: 0 5px 3px;
    font-family: @special-font-regular;
    font-weight: normal;
}

h3{
    color: @primary-color;
    border-bottom: 1px dashed @primary-color;
    padding-bottom: 10px;
    text-shadow: 0px 0px 1px;
    font-family: @special-font-regular;
    font-weight: normal;
}

.widget_box{
    background-color: @pale-primary-color;
    padding: 10px;
    margin-bottom: 20px;
    border-top: 3px solid @primary-color;
    border-bottom: 1px solid @primary-color;
    .box_shadow_inset(0, 0, 10px, Peru);
}

fieldset{

    padding: 10px 0;
    border-color: @pale-secondary-color;
    .rounded_corners();
    
    legend{
        margin-left: 10px;
        color: @secondary-color;
        padding-left: 5px;
        padding-right: 5px;
    }

}

.form{

    label{
        text-align: right;
        margin-top: 5px;
        font-weight: normal;
    }
}

.buttons{
    margin-top: 10px;
    margin-bottom: 10px;
}

.button{
    background-color: @secondary-color;
    border: 1px solid @secondary-color;
    color: white;
    font-family: @standard-font;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 3px;
    padding-bottom: 3px;
}

.no_bottom_space{
    padding-bottom: 0;
    margin-bottom: 0;
}

.float_all_left{
    
    *{
        float: left;
    }
    
}

.text_right{
    text-align: right;
}